<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GAEChannel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GAEChannelResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GAEChannelTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>409CC64F18F706F100781B75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409CC65B18F7195F00781B75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409CC67D18F724E300781B75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>925D5721DB3EF02D70A6DF85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>925D5FF13A10BAC4B70C0249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
